.background-label{
    z-index: -10;
    position: absolute;
    padding-left: 18px;
    padding-top: 6px;
    font-weight: normal;
    color: grey;
}
.foreground-input{
    direction: rtl;
    z-index: 10;
    /*text-align: right;*/
    
    background-color:rgba(0, 0, 0, 0.0);
}
.foreground-input:focus{
    background-color:rgba(0, 0, 0, 0.0);
}
.vertically-align{
    max-width: 330px;
    padding: 15px;
    /*    display: table-cell;
        vertical-align: middle;*/
    margin: 0 auto;
}
.input-style{
    color: black;
}
.input-style:focus, .input-style:active {
    color: black;
    border-color: #D26232;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(210, 98, 50, 0.6);
}

.input-style:hover{
    color: #D26232;
    border-color: #D26232;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(210, 98, 50, 0.6);
}
.form-control[disabled]{
    background-color: rgba(238,238,238, 0.5);
}
.quickselect_results {
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: Window;
	overflow: hidden;
}

.quickselect_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.quickselect_results iframe {
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	filter:mask();
	width:3000px;
	height:3000px;
}

.quickselect_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	width: 100%;
	font: menu;
	font-size: 12px;
	overflow: hidden;
}

.quickselect_loading {
	background : Window url('./indicator.gif') right center no-repeat;
}

.quickselect_selected {
	background-color: Highlight;
	color: HighlightText;
}
