.background-label{
    z-index: -10;
    position: absolute;
    padding-left: 18px;
    padding-top: 6px;
    font-weight: normal;
    color: grey;
}
.foreground-input{
    text-align: right;
    z-index: 10;
    background-color:rgba(0, 0, 0, 0.0);
}
.foreground-input:focus{
    background-color:rgba(0, 0, 0, 0.0);
}
.vertically-align{
    max-width: 330px;
    padding: 15px;
    /*    display: table-cell;
        vertical-align: middle;*/
    margin: 0 auto;
}
.input-style{
    color: black;
}
.input-style:focus, .input-style:active {
    color: black;
    border-color: #D26232;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(210, 98, 50, 0.6);
}

.input-style:hover{
    color: #D26232;
    border-color: #D26232;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(210, 98, 50, 0.6);
}
.form-control[disabled]{
    background-color: rgba(238,238,238, 0.5);
}