body{
    font-family: 'Play', sans-serif;
}

h2, h4{
    color: white;
}
.header-img{
    background-image: url('../images/header-img.jpg');
    color: black;
}
.hidden{
    display: none;
}
@import url(https://fonts.googleapis.com/css?family=Play:400,700);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#cssmenu #menu-button {
    display: none;
}
#cssmenu {
    width: auto;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    background: black;
}
#menu-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background: white;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
#cssmenu > ul > li {
    float: left;
}
#cssmenu.align-center > ul {
    font-size: 0;
    text-align: center;
}
#cssmenu.align-center > ul > li {
    display: inline-block;
    float: none;
}
#cssmenu.align-center ul ul {
    text-align: left;
}
#cssmenu.align-right > ul > li {
    float: right;
}
#cssmenu.align-right ul ul {
    text-align: right;
}
#cssmenu > ul > li > a {
    padding: 20px;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
    color: #D26232;
}
.has-sub{
    z-index: 9999;
}
#cssmenu > ul > li.has-sub > a {
    padding-right: 25px;
}
#cssmenu > ul > li.has-sub > a::after {
    position: absolute;
    top: 21px;
    right: 10px;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    content: "";
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}
#cssmenu > ul > li.has-sub:hover > a::after {
    border-color: #D26232;
}
#cssmenu ul ul {
    position: absolute;
    left: -9999px;
}
#cssmenu li:hover > ul {
    left: auto;
}
#cssmenu.align-right li:hover > ul {
    right: 0;
}
#cssmenu ul ul ul {
    margin-left: 100%;
    top: 0;
}
#cssmenu.align-right ul ul ul {
    margin-left: 0;
    margin-right: 100%;
}
#cssmenu ul ul li {
    height: 0;
    -webkit-transition: height .2s ease;
    -moz-transition: height .2s ease;
    -ms-transition: height .2s ease;
    -o-transition: height .2s ease;
    transition: height .2s ease;
}
#cssmenu ul li:hover > ul > li {
    height: 32px;
}
#cssmenu ul ul li a {
    padding: 10px 20px;
    width: 160px;
    font-size: 12px;
    background: black;
    text-decoration: none;
    color: white;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
    color: #D26232;
}
#cssmenu ul ul li.has-sub > a::after {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    content: "";
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}
#cssmenu.align-right ul ul li.has-sub > a::after {
    right: auto;
    left: 10px;
    border-bottom: 0;
    border-right: 0;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}
#cssmenu ul ul li.has-sub:hover > a::after {
    border-color: #D26232;
}

/*  SECTIONS  
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
    width: 100%;
}
.span_1_of_2 {
    width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col { 
        margin: 1% 0 1% 0%;
    }
}

@media only screen and (max-width: 480px) {
    .span_2_of_2, .span_1_of_2 { width: 50%; }
}
h4.chead{
    display: none;
}

@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
        #cssmenu {
            width: 100%;
        }
        .navbar-header{
            display: none;
        }
        #cssmenu ul {
            width: 100%;
            display: none;
        }
        #cssmenu.align-center > ul,
        #cssmenu.align-right ul ul {
            text-align: left;
        }
        #cssmenu ul li,
        #cssmenu ul ul li,
        #cssmenu ul li:hover > ul > li {
            width: 100%;
            height: auto;
            border-top: 1px solid rgba(120, 120, 120, 0.15);
        }
        #cssmenu ul li a,
        #cssmenu ul ul li a {
            width: 100%;
        }
        #cssmenu > ul > li,
        #cssmenu.align-center > ul > li,
        #cssmenu.align-right > ul > li {
            float: none;
            display: block;
        }
        #cssmenu ul ul li a {
            padding: 20px 20px 20px 30px;
            font-size: 12px;
            color: white;
            background: none;
        }
        #cssmenu ul ul li:hover > a,
        #cssmenu ul ul li a:hover {
            color: #D26232;
        }
        #cssmenu ul ul ul li a {
            padding-left: 40px;
        }
        #cssmenu ul ul,
        #cssmenu ul ul ul {
            position: relative;
            left: 0;
            right: auto;
            width: 100%;
            margin: 0;
        }
        #cssmenu > ul > li.has-sub > a::after,
        #cssmenu ul ul li.has-sub > a::after {
            display: none;
        }
        #menu-line {
            display: none;
        }
        #cssmenu #menu-button {
            display: block;
            padding: 20px;
            color: white;
            cursor: pointer;
            font-size: 12px;
            text-transform: uppercase;
        }
        #cssmenu #menu-button::after {
            content: '';
            position: absolute;
            top: 20px;
            right: 20px;
            display: block;
            width: 15px;
            height: 2px;
            background: white;
        }
        #cssmenu #menu-button::before {
            content: '';
            position: absolute;
            top: 25px;
            right: 20px;
            display: block;
            width: 15px;
            height: 7px;
            border-top: 2px solid white;
            border-bottom: 2px solid white;
        }
        #cssmenu .submenu-button {
            position: absolute;
            z-index: 10;
            right: 0;
            top: 0;
            display: block;
            border-left: 1px solid rgba(120, 120, 120, 0.15);
            height: 52px;
            width: 52px;
            cursor: pointer;
        }
        #cssmenu .submenu-button::after {
            content: '';
            position: absolute;
            top: 21px;
            left: 26px;
            display: block;
            width: 1px;
            height: 11px;
            background: white;
            z-index: 99;
        }
        #cssmenu .submenu-button::before {
            content: '';
            position: absolute;
            left: 21px;
            top: 26px;
            display: block;
            width: 11px;
            height: 1px;
            background: white;
            z-index: 99;
        }
        #cssmenu .submenu-button.submenu-opened:after {
            display: none;
        }
    h2.chead{
        display: none;
    }
    h4.chead{
        display: block;
        margin-top: 25px;
    }
}
.btn-black{
    background: black;
    color: white;
    border: none;
}
.btn-black:active,.btn-black:hover, .btn-black:focus{
    color: #D26232;
}
/*.split-menuitem a{
    color: white;
    position: relative;
    display: block;
    float: left;
    padding: 15px 15px;
    line-height: 20px;
}
/*.split-menuitem a .dropdown-toggle{
    float: left;
}*/
/*.navbar-style{
    background: black;
}
.navbar-style li a{
    color: white;
}
.navbar-style li a:hover{
    background: black;
    color: #D26232;
}
.navbar-style li:active, .active{
    color: #D26232;
}
.inverse-dropdown{
    background: black;
    border-color: #080808;
}
.inverse-dropdown li a{
    color: white;
}
.inverse-dropdown li a:hover{
    color: #D26232;
    background: black;
}*/
.dropdown-black, .dropdown-menu>li>a{
    background: black;
    color: white;
}
.dropdown-black>li>a:focus,.dropdown-menu>li>a:hover{
    background: black;
    color: #D26232;
}
.dcenter{
    max-width: 940px;
    margin: 0 auto;
}
.hpic{
    background-image: url('../images/about-sm.jpg');
    min-height: 75px;
}
.thead-style{
    background-color: #D26232;
}
.link-style{
    color:black;
}
.link-style:active, .link-style:hover, .link-style:focus, .link-style[disabled]{
    color: #D26232;
}